.article {
  padding: 1em;
  max-width: 900px;
  margin: auto;

  .content {
    h2, h3, h4, h5, h6 {
      margin-top: 2em;
      font-size: 1.5em;
    }

    ul {
      padding-left: 1em;
    }

    img {
      @media (min-width: 900px) {
        max-width: 120%;
        width: 120%;
        margin-left: -10%;
      }

      @media (max-width: 900px) {
        max-width: 100%;
      }

      border: 1px solid #eee;
    }

    p code, li code {
      background: #fafafa;
      border: 1px solid #eee;
      padding: 3px;
      color: red;
      font-size: 0.8em;
    }

    pre {
      padding: 14px;
      color: white;

      code {
        background: none;
        padding: 0;
      }
    }
  }

  .header {
    margin-bottom: 60px;

    .big-header {
      display: flex;
      padding: 3em 0 1em;
      align-items: center;

      .big-header-title {
        h1 {
          font-size: 3em;
          margin-bottom: 0;
          margin-top: 0;
          // border-top: 2px solid black;
          // border-bottom: 2px solid black;
          line-height: 1.2;
        }
      }

      .big-header-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #efefef;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }

        .line {
          background: black;
          width: 100%;
          height: 2px;
        }
      }
    }

    .subtitle-top {
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 2px solid black;
      font-weight: 900;
    }

    .subtitle {
      padding: 1em 0 0 ;
      font-size: 16px;
    }

    .written-by {
      text-align: right;
      font-size: 16px;
      border-top: 2px solid black;
      margin-bottom: 1em;
    }
  }
}
