.article {
  padding: 1em;
  max-width: 650px;
  margin: auto;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  font-weight: 200;

  h2, h3, h4, h5, h6 {
    margin-top: 2em;
  }

  img {
    max-width: 100%;
    border: 1px solid #eee;
  }

  p code {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 3px;
    color: red;
    font-size: 0.8em;
  }

  pre {
    background: #ffffff;
    padding: 14px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid red;
    border-right: 1px solid red;

    code {
      background: none;
      padding: 0;
    }
  }

  .header {
    margin-bottom: 60px;

    h1 {
      text-align: center;
      color: black;
      font-size: 2em;
      margin-bottom: 0;
    }

    .subtitle {
      text-align: center;
      font-size: 16px;
      color: #999;

      span, time {
        padding: 5px;
      }
    }
  }
}
