.articles {
  .page-header {
    text-align: center;
    margin: auto;

    .subheader {
      font-size: 0.5em;
      display: block;
      letter-spacing: 0;
    }
  }

  .grid {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-size: 0.75em;

    article {
      border-bottom: 1px solid #ccc;
      padding-bottom: 1em;
      margin-bottom: 1em;

      h2 {
        margin-bottom: 0;

        a {
          color: #333;
        }

        &:hover {
          text-decoration: underline tomato solid 3px;
        }
      }

      time {
        font-size: 0.8em;
      }
    }
  }

  @media (min-width: 1200px) {
    .page-header {
      max-width: 70%;
    }

    .grid {
      max-width: 80%;

      article {
        width: 30%;
      }
    }
  }

  @media (min-width: 960px) and (max-width: 1200px) {
    .page-header {
      max-width: 70%;
    }

    .grid {
      max-width: 80%;

      article {
        width: 30%;
      }
    }
  }

  @media (min-width: 600px) and (max-width: 960px) {
    .page-header {
      max-width: 70%;
    }

    .grid {
      max-width: 80%;

      article {
        width: 48%;
      }
    }
  }

  @media (max-width: 600px) {
    .page-header {
      max-width: 90%;
    }

    .grid {
      max-width: 100%;
      padding: 1em;

      article {
        width: 100%;
        border-bottom: 0;
      }
    }
  }
}
