img.top-image {
  margin: 50px auto;
  display: block;

  width: initial;

  max-height: 500px;
  max-width: 100%;

  border: none;

  &.index {
    margin: 100px auto;
  }
}

@media (min-width: 960px) {
  img.top-image {
    max-width: 400px;
  }
}
