* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;

  line-height: 1.6;
  color: black;
  font-weight: 400;
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(1.6em + 0.4vw);

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -0.04em;
  }

  h1 {
    font-size: 3em;
  }

  h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}
