.highlight { 
  color: #573d25;
  background: #fffff0;
  font-size: 14px;
}

.highlight + .highlight {
  margin-top: 10px;
}

.highlight .err { color: #960050; background-color: #1e0010 } /* Error */

.highlight .k { font-weight: bold; } /* Keyword */
.highlight .nb { font-weight: bold; } /* Keyword */

.highlight .l { color: #ae81ff } /* Literal */

.highlight .n  { color: #573d25; } /* Name */
.highlight .c  { color: #dfdab7; } /* Comment */

.highlight .cm { color: #dfdab7; } /* Comment.Multiline */
.highlight .cp { color: #d0d04f; } /* Comment.Preproc */
.highlight .c1 { color: #dfdab7; } /* Comment.Single */
.highlight .cs { color: #dfdab7; } /* Comment.Special */

.highlight .nc { color: #e84526; } /* Name.Class */
.highlight .no { color: #e84526; } /* Name.Constant */
.highlight .nd { color: #e84526; } /* Name.Decorator */
.highlight .ni { color: #fff9d4; } /* Name.Entity */
.highlight .ne { color: #e84526; } /* Name.Exception */
.highlight .nl { color: #fff9d4; } /* Name.Label */
.highlight .nn { color: #e84526; } /* Name.Namespace */
.highlight .nx { color: #fff9d4; } /* Name.Other */
.highlight .py { color: #e84526; } /* Name.Property */
.highlight .nt { color: #e99c29; } /* Name.Tag */
.highlight .nv { color: #fff9d4; } /* Name.Variable */

.highlight .ge { font-style:talic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #e99c29; } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */

.highlight .ow { color: #f92672 } /* Operator.Word */

.highlight .mf { color: #e99c29; } /* Literal.Number.Float */
.highlight .mh { color: #e99c29; } /* Literal.Number.Hex */
.highlight .mi { color: #e99c29; } /* Literal.Number.Integer */
.highlight .mo { color: #d0d04f; } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */

.highlight .s2 { color: #e99c29; } /* Literal.String.Double */
.highlight .se { color: #e99c29; } /* Literal.String.Escape */
.highlight .ss { color: #e99c29; } /* Literal.String.Symbol */
.highlight .sh { color: #e99c29; } /* Literal.String.Heredoc */
.highlight .si { color: #e99c29; } /* Literal.String.Interpol */
.highlight .sx { color: #e99c29; } /* Literal.String.Other */
.highlight .sr { color: #e99c29; } /* Literal.String.Regex */
.highlight .s1 { color: #e99c29; } /* Literal.String.Single */

.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
