.container {
  max-width: 100%;
  margin: auto;
}

.container.lander {
  margin-top: 350px;
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 960px) and (min-width: 700px) {
  .container {
    width: 700px;
  }

  .container.lander {
    margin-top: 350px;
  }
}

@media (max-width: 700px) and (min-width: 500px) {
  .container {
    width: 100%;
  }

  .container.lander {
    margin-top: 300px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }

  .container.lander {
    margin-top: 150px;
  }
}
