.follow_on_twitter {
  display: block;
  width: 620px;
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;

  img {
    vertical-align: text-bottom;
    border: none;
  }
}
