footer.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;

  font-size: 16px;

  a {
    border-bottom-color: #444;

    &:hover {
      border-bottom-color: deepskyblue;
    }
  }
}
