.home {
  @media (min-width: 600px) {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  @media (max-width: 600px) {
    .home-image {
      display: none;
    }

    time {
      display: none;
    }

    ul {
      list-style: disc;
      padding: 20px;
    }
  }
}
