.lander {
  margin: auto;
  max-width: 900px;
  padding: 0 10px;

  .lander-header {
    border-bottom: 1px solid #eee;
  }

  .lander-about {
    text-align: center;

    div {
      text-align: left;
      width: 70%;
      padding: 0 10px;
      display: inline-block;
    }

    // margin: 50px 0;

    img {
      border-radius: 50%;
      width: 130px;
      vertical-align: top;
      margin: 20px 0;
      // border: 1px solid black;
      // margin: 5px 10px 0 0;
    }
  }

  .lander-row {
    text-align: center;

    .lander-article {
      text-align: left;

      time {
        font-size: 12px;
      }

      .lander-title {
        .lander-number {
          color: red;
        }

        padding: 0;
        margin: 0;
        font-size: 20px;
        a {
          color: black;
        }
      }

      p {
        padding: 0;
        margin: 0;
      }

      font-size: 14px;

      width: 49%;
      min-width: 300px;
      display: inline-block;
      vertical-align: top;
      // margin: 10px;
      padding: 10px;
      // border: 1px dashed #eee;
    }
  }
}

@media (max-width: 900px) {
  .lander {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .lander-article {
    width: 100% !important;
  }

  .lander-about {
    div {
      width: 100% !important;
    }

    img {
      display: none !important;
    }
  }
}
