.lander {
  margin: auto;
  width: 900px;

  .lander-header {
    border-bottom: 1px solid #eee;
  }

  .lander-about {
    width: 600px;
    margin: 50px auto;

    // margin: 50px 0;

    img {
      width: 115px;
      height: 115px;
      border: 1px solid black;
      float: left;
      margin: 10px 10px 0 0;
    }
  }

  .lander-row {
    margin: 25px 0px;
    text-align: center;

    .lander-article {
      text-align: left;

      time {
        font-size: 12px;
      }

      .lander-title {
        .lander-number {
          color: red;
        }

        padding: 0;
        margin: 0;
        font-size: 20px;
        a {
          color: black;
        }
      }

      p {
        padding: 0;
        margin: 0;
      }

      font-size: 14px;

      width: 49%;
      display: inline-block;
      vertical-align: top;
      // margin: 10px;
      padding: 10px;
      // border: 1px dashed #eee;
    }
  }
}

@media (max-width: 500px) {
  .lander .header {
    max-width: 70%;
  }
}
