.navigation {
  max-width: 100%;
  width: 700px;
  margin: auto;
  padding: 0 10px;

  h1 {
    float: left;
    margin: 0;
    color: #444;
    font-weight: bold;
    font-size: 18px;
    * {
      vertical-align: middle;
    }

    span {
      padding-left: 5px;
    }

    a {
      &, &:hover {
        display: block;
        padding: 31px 0;
        color: #444;
        text-decoration: none;
        border: none;
      }
    }
  }

  ul {
    float: right;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 15px 10px 5px;
        color: #444;
        font-weight: bold;

        &.active {
          border-bottom: 3px solid deepskyblue;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .navigation {
    text-align: center;

    h1 {
      display: block;
      float: none;
    }

    ul {
      display: block;
      float: none;
      padding: 0;
      margin: 0;
    }
  }
}
