.navigation {
  max-width: 100%;
  margin: auto;
  text-align: center;

  display: flex;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 1.5em;

    li {
      display: inline-block;
      padding: 0 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: 900;

      a {
        display: block;
        color: #333;
        text-decoration: underline transparent solid 3px;

        &:hover {
          text-decoration: underline tomato solid 3px;
        }

        &.active {
          text-decoration: underline tomato solid 3px;
        }
      }
    }
  }
}
