.navigation {
  max-width: 100%;
  margin: auto;
  text-align: center;

  display: flex;
justify-content: space-between;
width: 600px;

  ul {
    padding: 0;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        display: block;
        padding: 10px 0;
        margin-top: 5px;
        color: #333;

        &.active {
          border: 1px solid deepskyblue;
          color: deepskyblue;
        }
      }
    }
  }
}
