.pagination {
  list-style: none;
  text-align: center;
  padding: 0;

  font-size: 1.5em;

  li {
    margin: none;
    display: inline-block;

    a {
      display: inline-block;
      color: #333;
      cursor: pointer;
      width: 1.5em;
      border: 1px solid white;

      &:hover {
        border: 1px solid deepskyblue;
        color: deepskyblue;
      }
    }

    &.active {
      a {
        border: 1px solid deepskyblue;
        color: deepskyblue;
      }
    }
  }

  margin-bottom: 50px;
}
