.project-showcase {
  max-width: 960px;

  margin: auto;
  list-style: none;

  li {
    margin: 25px;
    text-align: center;
    width: 250px;
    float: left;

    .project-screenshot {
      height: 300px;
      position: relative;

      img {
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
      }

      margin-bottom: 20px;
    }

    a {
      font-size: 1.5em;
    }
  }
}
