.showcase {
  width: 960px;

  margin: 100px auto;

  .image {
    width: 360px;
    float: left;
    padding: 10px 30px;

    img {
      width: 100%;
    }
  }

  .summary {
    width: 600px;
    float: left;
    overflow: hidden;
  }

  .external-article {
    background-color: crimson;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.8em;
  }
}

@media (max-width: 960px) {
  .showcase {
    width: 600px;
    padding: 10px;

    .image {
      padding: 0 50px 50px 50px;
      width: 100%;
    }

    .summary {
      width: 100%;
    }
  }
}
