.showcase {
  width: 960px;

  margin: 100px auto;

  .image {
    width: 360px;
    float: left;
    padding: 10px 30px;

    img {
      width: 100%;
    }
  }

  .summary {
    width: 600px;
    float: left;
  }

}

.tip-showcase-image {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 350px;
  border: none;
}

.tip-showcase {
  width: 600px;
  
  margin: 50px auto;

  .index {
    font-size: 50px;
    color: gray;
    border-right: 3px solid gray;
    display: inline-block;
    padding-right: 20px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    color: deeppink;
  }

  .summary {
    float: left;

    h1 {
      margin-bottom: 5px;

      a {
        color: #444;
        border: none;

        &:hover {
          color: deeppink;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .showcase {
    width: 600px;
    padding: 10px;

    .image {
      padding: 0 50px 50px 50px;
      width: 100%;
    }

    .summary {
      width: 100%;
    }
  }
}
