@import "body";
@import "navigation";
@import "links";
@import "home";
@import "article";
@import "articles";
@import "books";
@import "about";
@import "follow_on_twitter";
@import "comments";
@import "code_highlight";

.job-ad {
  width: 100%;
  border-bottom: 3px solid tomato;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}

.footer {
  margin-top: 5em;
  background: black;
  color: white;
  text-align: center;
  width: 100%;

  .content {
    padding: 5vw 0;
  }
}

.photos {
  padding: 1em;
  margin: auto;
  max-width: 850px;
  min-height: 600px;
}

@media (max-width: 600px) {
  .books {
    .book {
      flex-wrap: wrap;
    }

    .book .book-image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .book .book-description {
      width: 100%;
    }
  }
}

.debug {
  .debug--hero {
    max-width: 1200px;
    margin: auto;
    text-align: center;

    h1 {
      margin-bottom: 0;
    }

    h1 + p {
      max-width: 700px;
      margin: auto;
    }

    padding-bottom: 50px;
  }

  .debug--types {
    padding: 2px 5px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.7em;
  }

  .debug--types.debug--types--reproduce {
    color: #8338ec;
    border: 1px solid #8338ec;
  }

  .debug--types.debug--types--diagnose {
    color: #fb5607;
    border: 1px solid #fb5607;
  }

  .debug--types.debug--types--prevent {
    color: #1C77C3;
    border: 2px solid #1C77C3;
  }

  .debug--strategies {
    max-width: 900px;
    margin: auto;

    font-size: 16px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;

    .debug--strategy--card {
      padding: 24px;

      border-radius: 5px;
      box-shadow: 0 .3rem .8rem rgba(0,0,0,.12);
      background: white;
      opacity: 0.8;
      transition: 0.3s;

      &:hover {
        opacity: 1;
				box-shadow: 0 .3rem .8rem rgba(0,0,0,.25);
				cursor: pointer;
      }

      h2 {
        margin-bottom: 0px;
      }

      .debug--strategy-pic {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }
  }
}
