@import "body";
@import "showcase";
@import "footer";
@import "navigation";
@import "ruller";
@import "clearfix";
@import "links";
@import "article_image";
@import "code_highlight";
@import "pagination";

article {
  padding-left: 10px;
  padding-right: 10px;

  .header {
    text-align: center;
    margin-bottom: 70px;

    h1 {
      font-size: 50px;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 900px;
    }

    .subtitle {
      font-size: 20px;
      color: #777;
    }
  }

  img {
    width: 100%;  
    border: 10px solid #fffff0;
  }

  h2 {
    font-size: 25px;
    margin: 70px auto 20px auto;
    width: 620px;
    max-width: 100%;
  }

  p, ul {
    width: 620px;
    max-width: 100%;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 15px;

    line-height: 1.5;
    color: #444;

    code {
      background: #fffff0;
      color: #6b4e32;
      padding: 2px 5px;
    }
  }

  pre {
    width: 620px;
    max-width: 100%;
    margin: auto;
    padding: 15px;

    overflow-y: auto;
    line-height: 1.5;
    border-radius: 5px;
    position: relative;
  }

  blockquote p {
    border-left: 8px solid #ff625a;
    padding: 22px;
    font-size: 22px;
  }
}

aside, article.listing {
  width: 620px;
  margin: auto;
  max-width: 100%;
  padding: 10px 0;

  h1 {
    font-size: 25px;
    margin-top: 0px;
  }

  p.next {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px;
  }

  p {
    width: 620px;
    max-width: 100%;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 15px;

    line-height: 1.5;
    color: #444;

    code {
      background: #fffce0;
      color: #6b4e32;
      padding: 2px 5px;
    }
  }

  a {
    text-decoration: none;
    color: deepskyblue;
    border-bottom: 1px solid white;
    -webkit-transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid deepskyblue;
    }
  }

  &.follow {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;

    img {
      display: block;
      margin: 30px auto;
    }
  }
}
