* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

article {
  padding-left: 10px;
  padding-right: 10px;

  img.top-image {
    margin: 0px auto 100px auto;
    display: block;
    max-width: 100%;
  }

  .header {
    text-align: center;
    margin-bottom: 70px;

    h1 {
      font-size: 50px;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 900px;
    }

    .subtitle {
      font-size: 20px;
      color: #777;
    }
  }

  h2 {
    font-size: 25px;
    margin: 70px auto 20px auto;
    width: 620px;
    max-width: 100%;
  }

  p {
    width: 620px;
    max-width: 100%;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 15px;

    line-height: 1.5;
    color: #444;

    code {
      background: #fffce0;
      color: #6b4e32;
      padding: 2px 5px;
    }
  }

  a {
    text-decoration: none;
    color: deepskyblue;
    border-bottom: 1px solid white;
    -webkit-transition: all 0.3s;
  }

  a:hover {
    border-bottom: 1px solid deepskyblue;
  }

  pre {
    width: 620px;
    max-width: 100%;
    margin: auto;
    color: #382927;
    background: #fffce0;
    padding: 15px;

    overflow-y: auto;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
  }
}

aside {
  width: 620px;
  margin: auto;
  max-width: 100%;
  padding: 10px 0;

  h1 {
    font-size: 25px;
    margin-top: 0px;
  }

  p.next {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px;
  }

  p {
    width: 620px;
    max-width: 100%;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 15px;

    line-height: 1.5;
    color: #444;

    code {
      background: #fffce0;
      color: #6b4e32;
      padding: 2px 5px;
    }
  }

  a {
    text-decoration: none;
    color: deepskyblue;
    border-bottom: 1px solid white;
    -webkit-transition: all 0.3s;

    &:hover {
      border-bottom: 1px solid deepskyblue;
    }
  }

  &.follow {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;

    img {
      display: block;
      margin: 30px auto;
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  width: 95%;

  margin: 60px auto;
}

.box {
  margin: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;

  background: black;
  color: white;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
