.card {
  background: #fafafa;
  border: 1px solid #eee;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: 1px solid #ccc;
  cursor: pointer;
}

.card h1 {
  height: 70px;
}

.card .summary {
  flex: 1 0 auto;
}

* {
  box-sizing: border-box;
}

// @import "body";
// @import "navigation";
// @import "links";
// @import "home";
// @import "article";
// @import "articles";
// @import "books";
// @import "about";
// @import "follow_on_twitter";
// @import "comments";
// @import "code_highlight";
