---
pageable: true
per_page: 20
blog: tips
---

<%= partial "partials/navigation", :locals => {:section => :tips} %>

<img class="tip-showcase-image" src="/images/arithmetic.png">

<% page_articles.each_with_index do |tip, i| %>
  <% tip_index = (page_number - 1) * 20 + page_articles.count - i %>
  <%= partial "partials/tip_showcase", :locals => {:tip => tip, :index => "%03d" % tip_index } %> 
<% end %>

<% if paginate %>
  <p class="pagination">
    <% if next_page %>
      <%= link_to "&#8592; Older tips ", next_page, :class => "older" %>
    <% end %>
    <% if prev_page %>
      <%= link_to "Newer tips &#8594;", prev_page, :class => "newer" %>
    <% end %>
  </p>
<% end %>

<hr>
