<div class="bg-stone-50 py-3 border-b border-rose-500 text-center w-100">
  Would you like to work with me? We are hiring a software engineer at <a class="link" href="https://careers.operately.com">Operately</a>.
</div>
