<div class="job-ad">
  Would you like to work with me?
  We are hiring engineers at <a href="https://semaphoreci.com">SemaphoreCI</a>. Apply <a href="https://renderedtext.workable.com/j/4B14AA1813">here</a>.
</div>
