<div class="job-ad">
  Would you like to work with me?
  We are hiring engineers at <a href="https://semaphoreci.com" onclick="trackOutboundLink('https://semaphoreci.com'); return false;">SemaphoreCI</a>.
  Apply <a href="https://semaphore.workable.com/j/7899071CEA" onclick="trackOutboundLink('https://semaphore.workable.com/j/7899071CEA'); return false;">here</a>.
</div>
