<div class="job-ad">
  Would you like to work with me?
  We are hiring engineers at <a href="https://semaphoreci.com" onclick="trackOutboundLink('https://semaphoreci.com'); return false;">SemaphoreCI</a>.
  Apply <a href="https://renderedtext.workable.com/j/4B14AA1813" onclick="trackOutboundLink('https://renderedtext.workable.com/j/4B14AA1813'); return false;">here</a>.
</div>
