<aside class="follow_on_twitter">
  You should <a href="https://twitter.com/igor_sarcevic">follow me on Twitter.</a>

  <p>
    <img height="20px" src="images/Twitter_Social_Icon_Circle_Color.png">
  </p>
</aside>
