<div class="footer">
  <div class="delim"></div>

  <div class="content">
    <p>
      <strong style="text-decoration: underline solid tomato 5px">MorningCoffee.io</strong><br>
      <br>

      Keep in touch via <a href="#">E-mail</a>, <a href="#">Twitter</a>.<br>
      Copyright ©2014-2019 Igor Šarčević. All rights reserved.</br>
      <br>
      Enjoy the rest of your day!
    </p>
  </div>
<div>
