<div class="w-100 my-16">
  <div class="text-center text-lg">
    <p>
      <strong>❈</strong><br>
      <br>

      Follow me on <a href="https://rs.linkedin.com/in/igorsarcevic" class="link">LinkedIn</a>, <a href="https://bsky.app/profile/igorsarcevic.bsky.social" class="link">BlueSky</a>, and <a href="https://twitter.com/igor_sarcevic" class="link">Twitter</a>.<br>
      © 2025 Igor Šarčević.
    </p>
  </div>
<div>
