<div class="footer">
  <div class="content">
    <p>
      <strong>❈</strong><br>
      <br>

      Follow me on <a href="https://twitter.com/igor_sarcevic">Twitter</a> and <a href="https://rs.linkedin.com/in/igorsarcevic">LinkedIn</a>.<br>
      Copyright ©2014-2023 Igor Šarčević. All rights reserved.</br>
      <br>
      Enjoy the rest of your day!
    </p>
  </div>
<div>
