<footer>
  <div class="bt pv4 mt5">
    <div class="flex items-center justify-between flex-wrap-reverse">
      <div>
        Copyright © 2014-2020 Igor Šarčević. All rights reserved.
      </div>

      <div class="flex">
        <a href="https://twitter.com/igor_sarcevic" class="link black">
          <i class="lab la-twitter f2"></i>
        </a>

        <a href="https://twitter.com/igor_sarcevic" class="link black">
          <i class="lab la-github f2"></i>
        </a>

        <a href="https://twitter.com/igor_sarcevic" class="link black">
          <i class="lab la-linkedin f2"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
