<div class="w-100 my-16">
  <div class="text-center text-lg">
    <p>
      <strong>❈</strong><br>
      <br>

      Follow me on <a href="https://twitter.com/igor_sarcevic" class="link">Twitter</a> and <a href="https://rs.linkedin.com/in/igorsarcevic" class="link">LinkedIn</a>.<br>
      Copyright © 2014-2024 Igor Šarčević. All rights reserved.</br>
    </p>
  </div>
<div>
