<div class="footer">
  <div class="delim"></div>

  <div class="content">
    <p>
      <strong style="text-decoration: underline solid tomato 3px">MorningCoffee.io</strong><br>
      <br>

      Keep in touch via <a href="https://twitter.com/igor_sarcevic">Twitter</a> or <a href="https://rs.linkedin.com/in/igorsarcevic">LinkedIn</a>.<br>
      Copyright ©2014-2019 Igor Šarčević. All rights reserved.</br>
      <br>
      Enjoy the rest of your day!
    </p>
  </div>
<div>
