<footer class="footer">
  <%= partial "partials/follow_on_twitter" %>

  Written by <a href="https://twitter.com/igor_sarcevic">Igor Šarčević</a>.
  Tested and deployed with <a href="https://semaphoreci.com">SemaphoreCI</a>.
</footer>
