<div class="flex w-100 mt3 items-center">
  <div class="w-20 f1">⊛</div>

  <nav class="w-80 tr">
    <a class="link dim black mr3" href="/articles.html">Articles</a>
    <a class="link dim black mr3" href="/books.html">Books</a>
    <a class="link dim black" href="/about.html">About</a>
  </nav>
</div>
