<nav class="navigation" style="padding: 10px;">
    <div>
      <a style="font-size: 20px" href="/" style="color: crimson;">Morning Coffee</a>
      <span style="margin-left: 4px; margin-right: 4px;">&mdash;</span>
      <span>Articles about building and testing software</span>
    </div>
    <div style="font-size: 14px">
      Written in the morning after a cup of coffee by Igor Sarcevic, lead software architect at <a style="color: black; text-decoration: underline;" href="https://semaphoreci.com">SemaphoreCI</a>
    </div>
</nav>
