<div class="navigation cf">
  <h1>
    <a href="/">
      <img width="25px" class="logo" src="/favicon.ico">
      <span>shiroyasha</span>
    </a>
  </h1>

  <ul>
    <li><%= link_to "Articles", "/" %></li>
  </ul>
</div>
