<nav class="navigation" style="padding: 10px;">
  <div style="display: flex;justify-items: space-between;justify-content: space-between;">
    <a style="font-size: 20px" href="/" style="color: crimson;">Home</a>
    <a style="font-size: 20px" href="/about-me.html" style="color: crimson;">About</a>
  </div>
</nav>
