<div style="font-size: 16px; color: rgba(0, 0, 0, 0.8); padding: 10px; font-weight: 400; text-align: center">
  You are reading <a href="/">Morning Coffee</a>, a blog about software engineering written by <a href="/about-me.html">Igor Šarčević</a>. <br> Have a nice day!
</div>
