<div class="navigation">
  <a href="/">
    <div class="logo">朝</div>
  </a>

  <ul>
    <li><%= nav_link "all articles", "/articles.html" %></li>
    <li><%= nav_link "books", "/books.html" %></li>
    <li><%= nav_link "about me", "/about-me.html" %></li>
  </ul>
</div>
