<nav class="navigation" style="padding: 10px;">
  <div style="display: flex">

    <div>
      <a href="/" style="color: crimson;">Morning Coffee</a>
      <div style="font-size: 16px;">Written by Igor Sarcevic ‧ Lead Software Architect at SemaphoreCI</div>
    </div>

  </div>
</nav>
