<div class="navigation">
  <ul>
    <li>
      <a href="/">
        MorningCoffee
      </a>
    </li>
  </ul>

  <ul>
    <li><%= nav_link "all articles", "/articles.html" %></li>
    <li><%= nav_link "books", "/books.html" %></li>
    <li><%= nav_link "about me", "/about-me.html" %></li>
  </ul>
</div>
