<div class="navigation">
  <div class="logo">
    朝
  </div>

  <ul>
    <li><%= link_to "articles", "/books.html" %></li>
    <li><%= link_to "books", "/books.html" %></li>
    <li><%= link_to "photos", "/photos.html" %></li>
    <li><%= link_to "about me", "/about-me.html" %></li>
  </ul>
</div>
