<nav class="navigation">
  <a class="close">✕</a>
  <a class="open">☰</a>

  <div class="nav-content">
    <ul>
      <li>
        <a href="/">
          MorningCoffee
        </a>
      </li>
    </ul>

    <ul>
      <li><%= nav_link "all articles", "/articles.html" %></li>
      <li><%= nav_link "books", "/books.html" %></li>
      <li><%= nav_link "about me", "/about-me.html" %></li>
    </ul>
  </ul>
</nav>

<script>
  document.querySelector(".navigation .close").addEventListener("click", function() {
    document.querySelector(".navigation .nav-content").style.display = "none"
    document.querySelector(".navigation .close").style.display = "none"
  })

  document.querySelector(".navigation .open").addEventListener("click", function() {
    document.querySelector(".navigation .nav-content").style.display = "flex"
    document.querySelector(".navigation .close").style.display = "flex"
  })
</script>

