<div class="navigation">
  <a href="/">
    <div class="logo">朝</div>
  </a>

  <ul>
    <li><%= link_to "articles", "/articles.html" %></li>
    <li><%= link_to "books", "/books.html" %></li>
    <li><%= link_to "photos", "/photos.html" %></li>
    <li><%= link_to "about me", "/about-me.html" %></li>
  </ul>
</div>
