<aside class="tip-showcase cf">
  <div class="index">
    <%= index %> 
  </div>

  <div class="summary">
    <time><%= tip.date.strftime("%B %e, %Y") %></time>
    <h1><%= link_to tip.title, tip %></h1>
  </div>
</aside>
