<%= partial "partials/navigation", :locals => {:section => :about} %>

<article>
  <div class="header">
    <img class="top-image" src="https://scontent-vie1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11813245_10207827188699497_62959735811444095_n.jpg?oh=82a5124c7af022109ed90f691ffc5f3e&oe=5787DA73" />
    <h1>Igor Šarčević</h1>

    <p>
      Igor is a programming enthusiast with a passion for mathematics and intelligent systems. He gets lots of joy while solving difficult problems with a handful of dedicated people. He likes to be helpful to others and tries to improve himself on a daily basis. When he is not coding you can probably find him running, reading some Japanese poetry or improving his ninja skills.
    </p>
  </div>
</article>
