<% wrap_layout :layout do %>
  <article class="article about">
    <div class="header">
      <h1>About Igor Šarčević</h1>
    </div>

    <img class="image" src="/images/igor.png" href="Igor Šarčević">

    <%= yield %>
  </article>
<% end %>
