<% wrap_layout :layout do %>
  <article class="article about">
    <div class=about-header>
      <div class=image>
        <img src="/images/igor.png" href="Igor Šarčević">
      </div>

      <div class="header">
        <h1>About Me</h1>
      </div>
    </div>

    <%= yield %>
  </article>
<% end %>
