<% wrap_layout :layout do %>
  <article class="article about">
    <div class=about-header>
      <div class="header">
        <h3>Igor Sarcevic — operations, discipline, excellence</h3>
        <p style="margin-top: -10px;">Helping organizations achieve operatational excellence</p>
      </div>
    </div>

    <%= yield %>
  </article>
<% end %>
