<% wrap_layout :layout do %>
  <article class="article about">
    <div class=about-header>
      <div class="header">
        <h3>About me</h3>
      </div>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </article>
<% end %>
