<%= partial "partials/navigation", :locals => {:section => :about} %>

<article>
  <div class="header">
    <img class="top-image" alt="Igor Sarcevic" src="images/igor.png" />
    <h2>Igor Šarčević — a nerd with passion</h2>
  </div>

  <p>
  Igor is a programming enthusiast with a passion for mathematics and intelligent systems. He gets lots of joy while solving difficult problems with a handful of dedicated people. He likes to be helpful to others and tries to improve himself on a daily basis. When he is not coding you can probably find him running, reading some Japanese poetry or improving his ninja skills.
  </p>
</article>
