---
blog: blog
---

<div class="articles">
  <h1>All articles from latest to oldest</h1>

  <ul>
    <% page_articles.each.with_index do |article| %>
      <li>
        <h3><%= link_to article.title, article %></h3>
        <time><%= article.date.strftime("%B %e, %Y") %></time>

        <p>
          <%= article.summary(240) %>
          <%= link_to "Continue reading&hellip;", article.data[:link] %>
        </p>
      </li>
    <% end %>
  </ol>
</div>
