---
blog: blog
---

<main class="articles">
  <header class="page-header">
    <h1>
      All articles
      <span class="subheader">from latest to oldest</span>
    </h1>
  </header>

  <section class="flex flex-wrap">
    <% page_articles.each.with_index do |article| %>
      <div class="w-third flex">
        <a class="card measure-wide pa4 mr4 mb4" href="<%= article.url %>">
          <h1 class="f3"><%= article.title %></h3>

          <div class="bt pt3 bw1 summary">
            <%= article.summary(240) %>
          </div>

          <div class="f6 gray">
            <time><%= article.date.strftime("%B %e, %Y") %></time>
          </div>
        </a>
      </div>
    <% end %>
  </section>
</main>
