<% wrap_layout :layout do %>
  <div class='top-navigation'>
    <span class="box">@</span><span>Igor Šarčević</span> 
  </div>

  <article>
    <img class="top-image" src="/images/<%= current_article.data.image %>">

    <div class="header">
      <div class="subtitle">
        <span>Igor Šarčević</span>
        &mdash;
        <time><%= current_article.date.strftime("%B %e, %Y") %></time>
      </div>

      <h1><%= current_article.title %></h1>
    </div>

    <%= yield %>
  </article>
<% end %>
