<% wrap_layout :layout do %>
  <a class="link mt-10 block" href="/">Home</a>
  <article class="max-w-2xl mt-16">
    <div class="mb-10">
      <h1 class="text-5xl font-extrabold mb-2 leading-wide"><%= current_article.title %></h1>

      <div class="flex gap-1.5 items-center">
        <%= current_article.date.strftime('%B %e, %Y') %> <span>&middot;</span> Igor Šarčević
      </div>
    </div>

    <div class="content prose-lg">
      <%= yield %>
    </div>
  </article>
<% end %>
