<div class="books">
  <div class="book">
    <div class="book-image">
      <img src="https://images.gr-assets.com/books/1528512367l/40497212.jpg">
    </div>

    <div class="book-description">
      <h2>Rails Testing Handbook</h2>

      <p>
        Tired of fragile code? This free hands-on book will teach you how to build
        better Ruby on Rails apps with confidence. Learn practical behavior-driven
        development (BDD) from the makers of Semaphore (<a href="https://semaphoreci.com">SemaphoreCI</a>).
      </p>

      <p>
        Rails Testing Handbook is packed with practical advice not found in official
        Rails guides. Whether you've been developing Rails apps for years or are
        just getting started, this book will help you advance your craft.
      </p>

      Read more about Rails Testing Handbook on Goodreads <a href="https://www.goodreads.com/book/show/40497212-rails-testing-handbook">Goodreads</a>.
    </div>
  </div>
</div>
