<div class="debug">
  <div class="debug--hero">
    <h1>
      Tactics for better debugging
    </h1>
    <p>
      Collection of strategies and frameworks to help you replicate,
      diagnose, and prevent bugs in your application.
    </p>

    <%# <div class="debug--types"> %>
    <%#   <div class="debug--types--reproduce">REPRODUCE</div> %>
    <%#   <div class="debug--types--diagnose">DIAGNOSE</div> %>
    <%#   <div class="debug--types--prevent">PREVENT</div> %>
    <%# </div> %>
  </div>

  <div class="debug--strategies">
    <div class="debug--strategy--card">
      <h2>Experiment Checklist</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Systemitize your approach for checking possible causes of the bug</p>
    </div>

    <div class="debug--strategy--card">
      <h2>Varible Control</h2>
      <span class="debug--types debug--types--diagnose">DIAGNOSE</span>
      <p>Reduce the unkwnons by controlling the environment and the system inputs</p>
    </div>

    <div class="debug--strategy--card">
      <h2>Stress the System</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Some problems only occur when the system is under heavy load</p>
    </div>

    <div class="debug--strategy--card">
      <h2>Deliberate randomness</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Provide random input to your system, to help you identify the possible causes</p>
    </div>

    <div class="debug--strategy--card">
      <h2>Statistical Reproduction</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Some problems only happen occasionaly, run a statistically significant number of tests to trigger them</p>
    </div>
  </div>
</div>
