<div class="debug">
  <div class="debug--hero">
    <h1>
      Tactics for better debugging
    </h1>
    <p>
      Collection of strategies and frameworks to help you replicate,
      diagnose, and prevent bugs in your application.
    </p>

    <%# <div class="debug--types"> %>
    <%#   <div class="debug--types--reproduce">REPRODUCE</div> %>
    <%#   <div class="debug--types--diagnose">DIAGNOSE</div> %>
    <%#   <div class="debug--types--prevent">PREVENT</div> %>
    <%# </div> %>
  </div>

  <div class="debug--strategies">
    <div class="debug--strategy--card">
      <div class="debug--strategy-pic">
        <img src="https://ouch-cdn.icons8.com/thumb/486/0ac4dda0-5e40-444d-9d68-a6ddc4cd86c8.png">
      </div>

      <h2>Experiment Checklist</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Systemitize your approach for checking possible causes of the bug</p>
    </div>

    <div class="debug--strategy--card">
      <div class="debug--strategy-pic">
        <img src="https://ouch-cdn.icons8.com/thumb/945/f36ba414-6504-4484-9cd4-d45ea869fd19.png">
      </div>

      <h2>Varible Control</h2>
      <span class="debug--types debug--types--diagnose">DIAGNOSE</span>
      <p>Reduce the unkwnons by controlling the environment and the system inputs</p>
    </div>

    <div class="debug--strategy--card">
      <div class="debug--strategy-pic">
        <img src="https://ouch-cdn.icons8.com/thumb/119/f7243e71-62a6-448c-b240-d0d5984353ae.png">
      </div>

      <h2>Stress the System</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Some problems only occur when the system is under heavy load</p>
    </div>

    <div class="debug--strategy--card">
      <div class="debug--strategy-pic">
        <img src="https://ouch-cdn.icons8.com/thumb/165/29a858e0-4cf3-487c-ae6e-ab194d1a6626.png">
      </div>

      <h2>Deliberate randomness</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Provide random input to your system, to help you identify the possible causes</p>
    </div>

    <div class="debug--strategy--card">
      <div class="debug--strategy-pic">
        <img src="https://ouch-cdn.icons8.com/thumb/413/8f6a7c40-103f-4f03-b193-fd035d2fcb26.png">
      </div>

      <h2>Statistical Reproduction</h2>
      <span class="debug--types debug--types--reproduce">REPRODUCE</span>
      <p>Some problems only happen occasionaly, run a statistically significant number of tests to trigger them</p>
    </div>
  </div>
</div>
