---
blog: blog
---

<div class="flex flex-wrap-reverse mv6 mh5 justify-center items-center">
  <div class="measure-wide" style="width: 600px">
    <h1 class="f-heading lh-title mb0">Making <i>good</i> software is hard</h1>
    <small class="mb3 db f4">Let's explore how to make it easier</small>
    <p class="mw6 mv4 f4">
      Hi. I'm Igor Šarčević. A software engineer with a passion for math. Here I
      share my thoughts on life, business, and the art of writting <i>good</i>
      software.
    </p>

    <p>
      I work at
      <a class="link black" href="http://renderedtext.com">RenderedText</a>,
      as Chief Architect for
      <a class="link black" href="https://semaphoreci.com">SemaphoreCI</a>.
    </p>

    <div>
      <a class="f4 orange link" href="/articles.html">Start Reading &rarr;</a>
    </div>
  </div>

  <div class="measure ml4 dn db-ns">
    <img src="images/heading.png">
  </div>
</div>

<hr style="width: 100px; margin: auto">

<section>
  <header class="mb4 tc">
    <h2 class="f-subheadline lh-title mb0">Greatest Hits</h2>
    <span class="f2">hand-picked list of best my articles</span>
  </header>

  <div class="flex flex-column items-center">
    <article class="ma4 measure-wide">
      <h1 class="f3"><a class="link black" href="/killing-a-process-and-all-of-its-descendants.html">Killing a process and all of its descendants</a></h3>

      <div>
        Killing processes in a Unix-like system can be trickier than expected.
      </div>

      <%= link_to "Read &rarr;", "/killing-a-process-and-all-of-its-descendants.html", class: "mt2 db link orange" %>
    </article>

    <article class="ma4 measure-wide">
      <h1 class="f3"><a class="link black" href="/running.html">Why I fell in love with running?</a></h3>

      <div>
        Learn how to deal with the stress of the everyday by doing active medetation.
      </div>

      <%= link_to "Read &rarr;", "/running.html", class: "mt2 db link orange" %>
    </article>

    <article class="ma4 measure-wide">
      <h1 class="f3"><a class="link black" href="/five-principles-that-improved-my-software-engineering-skills.html">Five principles that improved my software engineering skills</a></h3>

      <div>
        Mentoring younger developers is a very rewarding experience.
      </div>

      <%= link_to "Read &rarr;", "/five-principles-that-improved-my-software-engineering-skills.html", class: "mt2 db link orange" %>
    </article>
  </div>
</section>
