---
pageable: true
per_page: 5
blog: blog
---

<%= partial "partials/navigation", :locals => {:section => :articles} %>

<% page_articles.each_with_index do |article, i| %>
  <%= partial "partials/article_showcase", :locals => {
     :article => article,
     :first_article => (i == 0)} %>
<% end %>

<% if paginate %>
  <p class="pagination cf">
    <% if next_page %>
      <%= link_to "&#8592; Older articles ", next_page, :class => "older" %>
    <% end %>
    <% if prev_page %>
      <%= link_to "Newer articles &#8594;", prev_page, :class => "newer" %>
    <% end %>
  </p>
<% end %>
