---
blog: blog
---

<div class="home">
  <div class="home-about">
    <div class="desc">
      <p class="img">
        <img src="/images/igor.png">
      </p>

      <h1>Making <i>good</i> software is hard</h1>

      <p>Consistently making good software requires more than just knowledge
        and creativity: discipline, systematic thinking, and a long term
        dedication to the craft.
      </p>

      <p>Engineering is in itself creation. Every day, our main task is to
      balance our creativity with the constraints of the real world.</p>

      <p>
        Let's explore how to make this journey easier!
			</p>

			<p>
        <a class="underline" href="/articles.html">Start Reading</a>
      </p>
    </div>
  </div>

  <main class="greatest-hits">
    <header class="page-header">
      <p>❈ ❈ ❈</p>
      <h2>
        Greatest Hits
        <span class="subheader">hand-picked list of best my articles</span>
      </h1>
    </header>

    <section class="grid">
      <article>
        <h3><a href="/killing-a-process-and-all-of-its-descendants.html">Killing a process and all of its descendants</a></h3>

        <p>
          Killing processes in a Unix-like system can be trickier than expected. Last
          week I was debugging an odd issue related to job stopping on Semaphore.
          More specifically, an issue related to the killing of a running process in a
          job.
        </p>

        <%= link_to "Keep reading &rarr;", "/killing-a-process-and-all-of-its-descendants.html" %>
      </article>

      <article>
        <h3><a href="/running.html">Why I fell in love with running?</a></h3>

        <p>
          If you are a bit like me, you are naturally quite neurotic and experience
          feelings such as anxiety, worry, fear, anger and frustration more often
          than you should. Deep down, your rational self knows that these feelings
          should not control your life. However, detaching from the 'now', zooming
          out and focusing on the big picture is easier said than done.
        </p>

        <%= link_to "Keep reading &rarr;", "/running.html" %>
      </article>

      <article>
        <h3><a href="/five-principles-that-improved-my-software-engineering-skills.html">Five principles that improved my software engineering skills</a></h3>

        <p>
          Mentoring younger developers is a very rewarding experience. It challenges your
          your pre-established ways of thinking, and it forces you to re-evaluate your
          long held principles. For example, a simple question like "Why does it matter
          to DRY out your code?" is remarkably hard to answer.
        </p>

        <%= link_to "Keep reading &rarr;", "/five-principles-that-improved-my-software-engineering-skills.html" %>
      </article>
    </section>
  </main>

</div>
