<div class="photos">
  <!-- Place <div> tag where you want the feed to appear -->
  <div id="curator-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
  <script type="text/javascript">
  /* curator-feed */
  (function(){
  var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
  i.src = "https://cdn.curator.io/published/246ff50e-089b-4855-a52f-60486f5168ad.js";
  e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
  })();
  </script>
</div>
